<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.line.ticket.service.mapper.TicketMapper">

    <resultMap id="ticketInfoMap" type="com.line.ticket.common.entity.service.Ticket">
        <id column="id" jdbcType="INTEGER" property="id" javaType="int"/>
        <result column="name" jdbcType="VARCHAR" property="name" javaType="string"/>
        <result column="price" jdbcType="INTEGER" property="price" javaType="int"/>
        <result column="remains" jdbcType="INTEGER" property="remains" javaType="int"/>
        <result column="sum" jdbcType="INTEGER" property="sum" javaType="int"/>
        <result column="sale_start_time" jdbcType="TIMESTAMP" property="saleStartTime"
                javaType="java.time.LocalDateTime"/>
        <result column="show_start_time" jdbcType="TIMESTAMP" property="showStartTime"
                javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="getTicketInfo" resultMap="ticketInfoMap" parameterType="int">
        select id, name, price, remains, sum, sale_start_time, show_start_time
        from ticket where id = #{ticketId}
    </select>

    <select id="getTicketRemains" resultType="int" parameterType="int">
        select remains from ticket where id = #{ticketId}
    </select>

    <update id="updateTicketRemains">
        update ticket set remains = remains + (#{count}) where id= #{ticketId} and remains = #{remains}
    </update>
</mapper>