<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.line.ticket.service.mapper.UserMapper">

    <resultMap id="userInfoMap" type="com.line.ticket.common.entity.User">
        <id column="id" jdbcType="INTEGER" property="id" javaType="int"/>
        <result column="name" jdbcType="VARCHAR" property="name" javaType="string"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" javaType="string"/>
        <result column="email" jdbcType="VARCHAR" property="email" javaType="string"/>
        <result column="sex" jdbcType="TINYINT" property="sex" javaType="int"/>
        <result column="birthday" jdbcType="DATE" property="birthday" javaType="java.time.LocalDate"/>
    </resultMap>

    <select id="verifyLogin" resultType="int">
        select id from user where account=#{account} and password=#{password}
    </select>

    <select id="getUserLoginInfo" resultMap="userInfoMap">
        select id, name, phone_number, email, sex, birthday
        from user where id =#{id}
    </select>

</mapper>