<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.line.ticket.mini.mapper.shard.ShardAreaMapper">
    <resultMap id="shardAreaResultMap" type="com.line.ticket.mini.model.shard.ShardArea">
        <result column="code" jdbcType="INTEGER" property="code" javaType="int"/>
        <result column="name" jdbcType="VARCHAR" property="name" javaType="string"/>
    </resultMap>

    <select id="queryAreaList" resultMap="shardAreaResultMap">
        select code, `name` from area
    </select>

    <insert id="addArea" parameterType="com.line.ticket.mini.model.shard.ShardArea" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into ds.area (code, `name`) values (#{code}, #{name});
    </insert>

    <delete id="removeArea">
        delete from ds.area where area_code = #{areaCode}
    </delete>
</mapper>