<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="line-ticket-log" packages="">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%t] [%c]: %m%n</Pattern>
            </PatternLayout>
        </Console>

        <File name="consoleFile" fileName="logs/console-file.log" append="true">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%t] [%c]: %m%n</Pattern>
            </PatternLayout>
        </File>

        <Async name="async">
            <AppenderRef ref="console"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="async"/>
            <AppenderRef ref="consoleFile"/>
        </Root>
    </Loggers>
</Configuration>